<section>
  <form class="example-form" style="width:50% !important">

    <mat-form-field class="example-full-width" appearance="fill" style="width:100% !important">

      <mat-label>
        {{ 'drawer.SearchMusic' | translate }}
      </mat-label>

      <input type="text"
             placeholder="Rechercher..."
             matInput
             [formControl]="barreDeRecherche"
             [matAutocomplete]="auto">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let music of filteredMusics | async" [value]="music?.title">
          <img mat-card-avatar src="{{music?.picture}}" alt="Avatar de la musique" class="avatar-barre-recherche"/>
          <span>{{music?.title}}</span>
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
  </form>
</section>


