<barre-de-recherche [musics]="musics" (typing)="musicsFiltered($event)"></barre-de-recherche>

<section>
  <span>
    {musics?.length, plural,
      =0 {{{ 'drawer.NoMusicFound' | translate }}}
      =1 {{{ 'drawer.OneMusicFound' | translate }} }
      other {{{ musics?.length }} {{ 'drawer.MusicsFound' | translate }}}}
  </span>
</section>

<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <carte [music]="music" (musicDelete)="delete($event)" (musicUpdate)="update($event)" *ngFor="let music of musics" ></carte>
  </section>

  <section *ngSwitchCase="'list'">
    <table class="center" style="border:1px solid black;margin-left:auto;margin-right:auto;padding: 5px">
      <tr>
        <th>Title</th>
        <th>Album</th>
        <th>Artiste</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let music of musics">
        <td>{{music?.title}}</td>
        <td>{{music?.album}}</td>
        <td>{{music?.artist}}</td>
        <td>{{music?.description}}</td>
      </tr>
    </table>

  </section>
</section>


<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add">
    <em class="material-icons">add</em>
  </button>

  <button (click)="switchView()" mat-fab color="warn">
    <em class="material-icons" *ngIf="view === 'card'">list</em>
    <em class="material-icons" *ngIf="view === 'list'">view_stream</em>
  </button>
</section>
